<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
#* @vtlvariable name="token" type="java.lang.String" *#
#* @vtlvariable name="callback" type="java.lang.String" *#
#* @vtlvariable name="consumerRenderer" type="com.atlassian.oauth.serviceprovider.internal.servlet.authorize.AuthorizationRendererImpl.AuthorizationConsumerRenderer" *# 
<html>
    <head>
        <title>$i18n.getText("com.atlassian.oauth.serviceprovider.authorize.token.title", $stringEscapeUtil.escapeHtml($applicationProperties.displayName))</title>
        <meta name="decorator" content="atl.popup">
        $webResourceManager.requireResource("com.atlassian.oauth.serviceprovider:authorization-resources")
    </head>
    <body>
        <div id="oauth-plugin">
            <h1>$i18n.getText("com.atlassian.oauth.serviceprovider.authorize.token.title", $stringEscapeUtil.escapeHtml($applicationProperties.displayName))</h1>
            <div class="content">
                $message
            </div> <!-- .content -->
        </div> <!-- #oauth-plugin -->
    </body>
</html>
